.container {
  position: absolute;
  top: 0% !important;
  left: 0% !important;
  inset: 0;
  display: inline-flex;
  flex-direction: row;
}

.gradient-circle-1 {
  left: -200px !important;
  top: -75px !important;
  width: 800px;
  height: 460px;
  border-radius: 999px;
  position: relative;
  filter: blur(90px);
}

.gradient-circle-2 {
  width: 300px;
  height: 300px;
  position: relative;
  filter: blur(50px);
}

.color-gradient {
  background: linear-gradient(to right, rgb(255, 227, 170) 0%, rgb(255, 227, 170) 60%, rgb(249, 199, 164) 40%, rgb(249, 199, 164) 100%);
}
